@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2rem;
  padding: 20px 0;
}

.font {
  font-size: 2rem;
}
.transaction {
  border: 1px solid black;
  margin-top: 20px;
  max-height: 300px;
  overflow: scroll;
}
.transaction p {
  font-size: 18px;
}

table td {
  text-align: center;
  border-bottom: 1px solid black;
}
.btn-circle {
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  font-weight: bolder !important;
  font-size: 2rem;
}

.status {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.balance {
  margin-bottom: 20px;
}

@media (max-width: 498px) {
  * {
    font-size: 1rem !important;
  }
}
